{% extends 'base.html.twig' %}

{% block title %}Kies uw geschenk!{% endblock %}

{% block body %}
    <h1>Kies een geschenk</h1>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.choice) }}
            <div class="radio-buttons">
                {{ form_widget(form.choice) }}
            </div>
            {{ form_errors(form.choice) }}
        </div>
        <button type="submit" class="btn btn-primary">Verzenden</button>
    {{ form_end(form) }}
{% endblock %}
